# Diretórios de build
/dist/
/build/

/node_modules/

# Arquivos do TypeScript
*.tsbuildinfo

# Arquivos temporários e de log
*.log

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Configurações do IDE
.vscode/
.idea/

# Dependências locais
package-lock.json
yarn.lock
